<div id=homepage>
  <div>
    <img src="/assets/images/headshot-dec-2020.png" />
  </div>
  <div>

    <h2 class="h1">About</h2>
    <p>
      Hi, I'm Danya Lette.
      I'm a computer science student at the University of Toronto. I'm interested in formal methods, programming languages, and theory of computation.
      </p>
      <p>
        <a href="mailto:danyalette@gmail.com" target="_blank">danyalette@gmail.com</a>
        &middot <a href="https://github.com/danyalette" target="_blank">github</a>
        &middot <a href="http://danyalette.com/blog/" target="_blank">blog</a>
        &middot   <a href="/assets/misc/Danya_Lette_CV.pdf" target="_blank">CV</a>
    </p>



  </div>
</div>
