<h2 class="h1">About</h2>
<p>
  Hi, I'm Danya Lette.
  I'm a developer living and working in Toronto. I love learning and building cool stuff.
</p>
<p>
  During my undergrad, I studied Philosophy, and a bit of Math and Physics. My drive to <strong>create</strong> led me towards technology.
</p>
<p>
  My interests, projects, and tools are quite varied and always changing.
  I particularly like working with data. I enjoy data visualization, creating interactive UIs for viewing and manipulating data, and designing software that accommodates complex business logic.
</p>
