---
---

@import "_theme-{{ site.theme_color }}.scss";

a {
  color: $color-primary-link;
}

h1, h2, h3, h4, header, .previous-next {
  a {
    color: inherit;
  }
}

h1.h0 {
  padding-bottom: 40px;
}

header .link-primary:hover {
  color: inherit;
}

.previous-next {
  margin: 80px 0;
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  overflow: hidden;
  .previous, .next {
    margin-left: 0;
    margin-right: 20px;
    flex: 1;
    max-width: 50%;
    overflow: hidden;

    &:only-child {
      max-width: 100%;
    }
  }
  .next {
    margin-left: 20px;
    margin-right: 0;
  }
}

code {
  background: #f5f5f5;
}

pre code {
  color: #333;
  background: none;
  padding: 0;
}

.more {
  margin-top: 40px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.container {
  max-width: 750px;
}

article {
  h1, h2, h3, h4, h5 {
    margin-top: 2em;
    margin-bottom: 0.5em;
  }
  img {
    max-width: 100%;
  }
}

.categories.categories-post {
  margin-bottom: 30px;
}

.categories.categories-all {
  margin-bottom: 30px;
  a {
    margin-bottom: 10px;
    display: inline-block;
  }
}

.categories a{
  margin-right: 10px;
  font-size: 14px;
  border: 2px solid $color-primary-link;
  padding: 6px 10px;
  transition: background 0.1s ease, color 0.1s ease;
}

.categories a:hover {
  text-decoration: none;
  background: $color-primary-link;
  color: #fff;
}

.featured-image {
  margin: 30px 0 40px 0;
}

.excerpt {
  margin-top: 70px;
  margin-bottom: 70px;
  padding-bottom: 70px;
}

#markdown-toc {
  margin: 30px 0;
  border: 1px solid #000;
  display: inline-block;
  width: auto;
  padding: 50px 60px 45px 60px;
  ul, li {
    margin: 0;
  }
}

.prose {
  p, ol, ul {
    @media (min-width: $breakpoint-lg) {
      width: 100%;
    }
  }
}

@media (min-width: 52em) {
  .h0 {
    font-size: 80px;
  }
  .prose blockquote {
    margin: 30px 0;
    max-width: 100%;
  }
  .prose blockquote p {
    font-size: inherit;
  }
  .prose img {
    max-width: 100%;
  }
}
