<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/assets/styles/resume.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/3.1.1/jquery.waypoints.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/3.1.1/shortcuts/sticky.min.js"></script>
	<title>Resume - Danya Lette</title>
</head>
<body>
	<div class='inner'>
		<div class='head'>
				<div class='sticky head__inner'>
					<div class='head__name'>Danya Lette</div>
					<div class='head__title'>Software Developer</div>
					<div class='head__site'>
						<div class='head__github'>
							<a class='dotted_anim' href='https://github.com/danyalette' target='_blank'>github: danyalette</a> |</div>
						<a class='dotted_anim' href='https://danyalette.com' target='_blank'>website: https://danyalette.com</a>
					</div>
				</div>
		</div>
		<div class='contact'>
			<div class='contact__phone'><a class='dotted_anim' href='tel:4165581614'>416.558.1614</a></div>
			<div class='contact__email'><a class='dotted_anim' href='mailto:danyalette@gmail.com'>danyalette@gmail.com</a></div>
			<div class='contact__address1'>2-339 Dovercourt Rd.</div>
			<div class='contact__address2'>Toronto, ON</div>
		</div>
		<div class='section'>
			<div class='section__title'>Technologies</div>
			<div class='section__content'>
				<ul>
					Javascript, ES6, Webpack, Gulp, Grunt, React, Angular, Ajax, CSS, SCSS, Less, HTML, SVG, Web Audio, Canvas, Paper, ThreeJS, Cordova, Python, Django & DRF, Cordova, Ionic, Git, Atlassian Suite (Bitbucket, Jira, Confluence), RegEx, Linux, Apache, Nginx, Arduino.
				</ul>
			</div>
		</div>

		<div class='section'>
			<div class='section__title'>Employment</div>
			<div class='section__content'>
				<div class='section__subsection subsection'>
					<div class='subsection__heading'><span class='subsection__title'>Freelance Software Developer</span><span class='subsection__dates'>December 2016-present</span></div>
					<p>During my time as a freelancer, I split my time between learning and doing contract work. I learned how to use several new technologies, built a few sample projects, and completed a certificate in Machine Learning.</p>
					<p>I've been working primarily with: React & Redux, ES6, Webpack, Django, ThreeJS, Python & Numpy.</p>
				</div>
				<div class='section__subsection subsection'>
					<div class='subsection__heading'><span class='subsection__title'>Software Developer</span><span class='subsection__dates'>May 2016-November 2016</span></div>
					<div class='subsection__subtitle'>Mercatus Technologies Inc.</div>
						<p>As a member of the mobile team, I worked on a hybrid mobile app for iOS and Android, built using Angular, SCSS, Cordova, and Ionic.</p>
						<p>My main tools were: Javascript, SCSS, Gulp, Git, Cordova, Angular, Bash, Node, Cordova, Ionic, KSS.</p>
					</ul>
				</div>
				<div class='section__subsection subsection'>
					<div class='subsection__heading'><span class='subsection__title'>UI Developer</span><span class='subsection__dates'>October 2015-April 2016</span></div>
					<div class='subsection__subtitle'>Mercatus Technologies Inc.</div>
						<p>I architected and completed the corporate website redesign project. My job duties encompassed front-end (UI), backend (custom Wordpress theme, custom CMS functionality and fields) and operations (web hosting, deployment strategy).</p>
						<p>My main tools were: Javascript, SVG, Wordpress, PHP, Less, SCSS, Grunt, Git, Pantheon, Raphael, CSS3, Cordova, Angular.</p>
				</div>
				<div class='section__subsection subsection'>
					<div class='subsection__heading'><span class='subsection__title'>Full-Stack Web Developer</span><span class='subsection__dates'>March 2015-August 2015</span></div>
					<div class='subsection__subtitle'>Toronto International Film Festival (TIFF)</div>
						<p>As in my previous role for TIFF, I added features and made bug-fixes for TIFF's website and custom internal CMS.</p>
						<p>My main tools were: Javascript, Ajax, REST, HTML, Less and CSS, PHP, Zend Framework, MapBox, Google Maps Javascript API, Twitter API.</p>
				</div>
				<div class='section__subsection subsection'>
					<div class='subsection__heading'><span class='subsection__title'>Front-End Web Developer</span><span class='subsection__dates'>December 2014-March 2015</span></div>
					<div class='subsection__subtitle'>Toronto International Film Festival (TIFF)</div>
						<p>I built out several new features for TIFF's website.</p>
						<p>My main tools were: Javascript, Ajax, REST, HTML, Less and CSS, PHP, Zend Framework, MapBox, Google Maps Javascript API, Twitter API.</p>
				</div>

		</div>
		<div class='section'>
			<div class='section__title'>Volunteer Experience</div>
			<div class='section__content'>
				<div class='section__subsection subsection'>
					<div class='subsection__heading'><span class='subsection__title'>Editor</span><span class='subsection__dates'>February 2018-present</span></div>
					<div class='subsection__subtitle'>Review of Undergraduate Computer Science (RUCS)</div>
					<p>My responsibilities include: editing submissions, communicating with authors and other stakeholders, organizing content, and making updates to the website's styles and content.
				</div>
			</div>
		</div>
		<div class='section'>
			<div class='section__title'>Education</div>
			<div class='section__content'>
				<div class='section__subsection subsection'>
					<div class='subsection__heading'><span class='subsection__title'>Honours Bachelor of Science</span><span class='subsection__dates'>(expected) 2020</span></div>
						<b>Computer Science</b> (Specialist), <b>Math</b> (Major) <i>University of Toronto</i><br>
				</div>
				<div class='section__subsection subsection'>
					<div class='subsection__heading'><span class='subsection__title'>Honours Bachelor of Arts</span><span class='subsection__dates'>2013</span></div>
						<b>Philosophy</b> (Specialist) <i>University of Toronto</i><br>
						<p>
							Logic, artificial intelligence, philosophy of mind, philosophy of language.
						</p>
				</div>
			</div>
		</div>
	</div>
	<script>var sticky=new Waypoint.Sticky({element:$('.sticky')[0]})</script>
</body>
</html>
