<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/assets/styles/resume.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/3.1.1/jquery.waypoints.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/3.1.1/shortcuts/sticky.min.js"></script>
	<title>Résumé - Danya Lette</title>
</head>
<body>
	<div class='inner'>
		<div class='head'>
				<div class='sticky head__inner'>
					<div class='head__name'>Danya Lette</div>
					<div class='head__title'>Software Developer</div>
					<div class='head__site'>
						<div class='head__github'><a href='https://github.com/danyalette' target='_blank'><img src='/assets/images/icons/github.png'></a></div>
						<a class='dotted_anim' href='https://danyalette.com'>https://danyalette.com</a>
					</div>
				</div>
		</div>
		<div class='contact'>
			<div class='contact__phone'><a class='dotted_anim' href='tel:4165581614'>416.558.1614</a></div>
			<div class='contact__email'><a class='dotted_anim' href='mailto:danyalette@gmail.com'>danyalette@gmail.com</a></div>
			<div class='contact__address1'>509-381 Front St. West</div>
			<div class='contact__address2'>Toronto, ON</div>
		</div>
		<div class='description'>
			<p>
				<span class='strong description-strong'>I am</span> a motivated problem-solver with a diverse skill-set, and a thirst for picking up new technologies and mastering old ones. I have a keen eye for efficiency, readability & maintainability, and an awareness of the importance of effective tooling and processes. I particularly enjoy creating data visualizations and interactive UIs for viewing and manipulating data. I take pride in choosing the right tech stack for the job, designing software that accommodates complex business logic, and always seeking out new challenges.
			</p>
			<p>
				I'm <span class='strong description-strong'>seeking</span> a position as a web application developer in which I can learn, teach, and provide value to my employer and co-workers through my insight and attitude. I'm particularly intersted working with you if your project or product deals with: large data sets, machine learning, math, research, or education.
			</p>
		</div><!-- end description -->
		<div class='section'>
			<div class='section__title'>Technologies</div>
			<div class='section__content'>
				<ul>
					Javascript, ES6, Webpack, Gulp, Grunt, React, Angular, Ajax, CSS, SCSS, Less, HTML, SVG, Web Audio, Canvas, Paper, ThreeJS, Cordova, Python, Django, Django Rest Framework, Cordova, Ionic, Git, RegEx, Linux, Apache, Nginx, Arduino.
				</ul>
			</div>
		</div>

		<div class='section'>
			<div class='section__title'>Experience</div>
			<div class='section__content'>
				<div class='section__subsection subsection'>
					<div class='subsection__heading'><span class='subsection__title'>Freelance Software Developer</span><span class='subsection__dates'>December 2016-present</span></div>
					<p>During my time as a freelancer, I split my time between doing contract work and learning. I learned how to use several new technologies, made a few sample projects, and completed a certificate in Machine Learning.</p>
					<p>I've been working primarily with: React & Redux, VueJS, ES6, Webpack, Django, ThreeJS, Python & Numpy.</p>
					<p>
						Here are couple of contracts I worked on:
						<ul>
							<li><a class='dotted_anim' target='_blank' href='https://danya.ca/xml-team/xml-logo/'>Team Logo Generator</a>: A web app that programmatically generates placeholder svg icons for selected sports team (React, ES6, Webpack).</li>
							<li><a class='dotted_anim' target='_blank' href='https://danya.ca/xml-team/xml-banner/'>Header Banner Generator</a>: A GUI for customing a header banner and generating its markup and styles (React, ES6, Webpack).</li>
						</ul>
					</p>
					<p>
						Here are couple of blog posts I wrote:
						<ul>
							<li><a class='dotted_anim' target='_blank' href='https://danyalette.com/blog/building-themeable-web-apps'>Building Themeable Web Apps</a></li>
							<li><a class='dotted_anim' target='_blank' href='https://danyalette.com/blog/pixel-value-visualization'>Pixel Value Visualization</a></li>
						</ul>
					</p>
				</div>
				<div class='section__subsection subsection'>
					<div class='subsection__heading'><span class='subsection__title'>Software Developer</span><span class='subsection__dates'>May 2016-November 2016</span></div>
					<div class='subsection__subtitle'>Mercatus Technologies Inc.</div>
					<ul>
						<li>As a member of the mobile team, I worked on a hybrid mobile app built using Angular, SCSS, Cordova, and Ionic, for iOS and Android.</li>
						<li>I built out new features for the mobile app, and implemented bug fixes.</li>
						<li>I created a live styleguide using KSS.</li>
						<li>I overhauled our SCSS to implement and enforce SCSS best-practices and leverage SCSS features. I also created documentation and contribution guidelines to improve the quality and maintainablity of the SCSS codebase.</li>
						<li>I overhauled our build process (using Gulp, Node, and Bash) to improve the reproducibility of our builds, weed out bugs and race conditions, implement linting and testing, and improve build speeds.</li>
						<li>I interfaced with other engineering teams in order to start developing  company-wide coding standards and increase code & resource sharing between teams.</li>
						<li>Part-way through my tenure at Mercatus, I was designated the backup team lead. While on active duty, I had some managerial responsiblilites, including assigning tasks, communicating with project stakeholders, and faciliting other developers work.</li>
						<li>My main tools were: Javascript, SCSS, Gulp, Git, Cordova, Angular, Bash, Node, Cordova, Ionic, KSS.</li>
					</ul>
				</div>
				<div class='section__subsection subsection'>
					<div class='subsection__heading'><span class='subsection__title'>UI Developer</span><span class='subsection__dates'>Oct 2015-April 2016</span></div>
					<div class='subsection__subtitle'>Mercatus Technologies Inc.</div>
					<ul>
						<li>I implemented the corporate website redesign project. My job duties encompassed front-end (UI), backend (custom Wordpress theme, custom CMS functionality and fields, etc) and operations (web hosting, deployment strategy).</li>
						<li>I created multiple animations and interactive components for the website, using SVG and CSS3.</li>
						<li>On completion of the corporate website redesign project, I transitioned to the engineering team to work on a hybrid mobile app built using Angular, SCSS, Cordova, and Ionic.</li>
						<li>My main tools were: Javascript, SVG, Wordpress, PHP, Less, SCSS, Grunt, Git, Pantheon, Raphael, CSS3, Cordova, Angular</li>
					</ul>
				</div>
				<div class='section__subsection subsection'>
					<div class='subsection__heading'><span class='subsection__title'>Full-Stack Web Developer</span><span class='subsection__dates'>March 2015-August 2015</span></div>
					<div class='subsection__subtitle'>Toronto International Film Festival (TIFF)</div>
					<ul>
						<li>As in my previous role for TIFF: I added features and made bug-fixes for TIFF's website and TIFF's custom internal CMS.</li>
						<li>I created a style guide for TIFF's website redesign (using Less, CSS)</li>
						<li>I built a framework of modular reusable styles and UI functionality for the website redesign and implemented additional functionality in the CMS, in order to give content editors access to the new functionality via the CMS.</li>
						<li>My main tools were: Javascript, Ajax, REST, HTML, Less and CSS, PHP, Zend Framework, MapBox, Google Maps Javascript API, Twitter API.</li>
					</ul>
				</div>
				<div class='section__subsection subsection'>
					<div class='subsection__heading'><span class='subsection__title'>Front-End Web Developer</span><span class='subsection__dates'>December 2014-March 2015</span></div>
					<div class='subsection__subtitle'>Toronto International Film Festival (TIFF)</div>
					<ul>
						<li>I built out several new features for TIFF's website, including a Twitter feed, interactive calendar for festival films, interactive map, customizable survey.
						<li>I implemented new features and bug fixes in TIFF's custom internal CMS (PHP, Zend Framework, Javacript)</li>
						<li>I created additional content pages and content page templates.</li>
						<li>My main tools were: Javascript, Ajax, REST, HTML, Less and CSS, PHP, Zend Framework, MapBox, Google Maps Javascript API, Twitter API.</li>
					</ul>
				</div>
				<div class='section__subsection subsection'>
					<div class='subsection__heading'><span class='subsection__title'>Freelance Web Developer</span><span class='subsection__dates'>December 2013-December 2014</span></div>
					<p>
						During this time period, I took on several small contracts. In my free time, I focussed on improving my general-purpose web development skills. I took particular interest in projects involving SVG, canvas, and animation using CSS and Javascript.
					</p>
					<p>
						Here are couple of contracts I worked on:
						<ul>
							<li><a class='dotted_anim' target='_blank' href='http://friendsofallangardens.ca/'>FOAG</a>: A single page application in Angular w/ lightweight custom CMS. (JS, Angular, Bootstrap, CSS, Less, HTML, PHP)</li>
							<li><a class='dotted_anim' target='_blank' href='http://communismmusic.com/temporary/'>Communism</a> (band): Web app/game for making & recording music using samples of their songs (JS, Web Audio API, CSS, HTML, PHP)</li>
						</ul>
					</p>
					<p>
						Here are couple of blog posts I wrote:
						<ul>
							<li><a class='dotted_anim' target='_blank' href='https://danyalette.com/blog/mathematical-def-of-bezier-curves'>The Math of Bézier Curves</a></li>
							<li><a class='dotted_anim' target='_blank' href='https://danyalette.com/blog/svg-arc-command-parameters'>SVG Arc Command</a></li>
							<li><a class='dotted_anim' target='_blank' href='https://danyalette.com/blog/conways-golf'>Conway's GOLf</a></li>
						</ul>
					</p>
				</div>

		</div>
		<div class='section'>
			<div class='section__title'>Education</div>
			<div class='section__content'>
				<div class='section__subsection subsection'>
					<div class='subsection__heading'><span class='subsection__title'>Certificate</span><span class='subsection__dates'>2017</span></div>
						<b>Machine Learning</b> <i>University of Washington (Online)</i><br>
						<p>
							Regression, Classification, Clustering. Python, Jupyter, Numpy, Scikit Learn, Graphlab.
						</p>
				</div>
				<div class='section__subsection subsection'>
					<div class='subsection__heading'><span class='subsection__title'>Honours Bachelor of Arts</span><span class='subsection__dates'>2013</span></div>
						<b>Philosophy</b> <i>University of Toronto</i><br>
						<p>
							Logic, artificial intelligence, philosophy of mind, philosophy of language.
						</p>
				</div>
			</div>
		</div>

		<div class='section'>
			<div class='section__title'>Personal Skills</div>
			<div class='section__content'>
				<ul class="personal_skills">
				           <li>I absolutely love what I do &amp; am constantly learning new things.</li>
									<li>My skillset is flexible: if I don't already know the best tool for the job, I will learn it.</li>
									<li> I strive to write "good code": keeping up-to-date with industry best practices in order to write code that is maintainable, bug-free and modular.</li>
									<li>I am attentive to the diverse requirements of web projects, from performance optimization to aesthetic considerations.</li>
									<li>I value efficiency and planning as necessary tools for creating a predictably good result.</li>
									<li>I'm mindful of design &amp; aesthetics, and take care to create an effortless and memorable user experience.</li>
									<li>Fluent in French.</li>
								</ul>
			</div>
		</div>
		<!--
		<div class='section'>
			<div class='section__title'>References</div>
			<div class='section__content'>
				<ul>

				</ul>
			</div>
		</div>
		-->
	</div>
	<script>var sticky=new Waypoint.Sticky({element:$('.sticky')[0]})</script>
</body>
</html>
